:root {
  --duration-quick: 100ms;
  --easing-quick: cubic-bezier(0, 0, 0.2, 1);

  --duration-basic: 150ms;
  --easing-basic: cubic-bezier(0, 0, 0.2, 1);

  --duration-medium: 300ms;
  --easing-medium: cubic-bezier(0, 0, 0.2, 1);

  --duration-slow: 500ms;
  --easing-slow: cubic-bezier(0, 0, 0.2, 1);

  --duration-homecardin: 1600ms;
  --easing-homecardin: cubic-bezier(0, 0, 0.2, 1);

  --duration-homecardout: 500ms;
  --easing-homecardout: cubic-bezier(0, 0, 0.2, 1);
}
